footer {
  background-color: var(--color-white);

  .container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-top: var(--line);
    padding: 2rem;
    box-sizing: border-box;
  }
  p {
    font-family: "Space Mono", sans-serif;
    font-weight: 100;
    color: var(--color-grey-dark-3);
  }
}
