header {
  width: 100%;
  color: var(--color-primary-text);
  border-bottom: var(--line);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
  }

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    color: inherit;
    display: block;
    padding: 0 0.5em;
    text-decoration: none;
    font-size: 1.4rem;
  }

  p {
    font-size: 3em;
    font-weight: bold;
  }
}
